.page1,
.page1 * {
  box-sizing: border-box;

}
.overlay{
left:100px;
width: 100%;
height: 100%;
position: absolute;
top:0;
left:0;

background:  rgba(0, 0, 0, 0.588);

}
.page1{
  background: #ffffff;
  border-radius: 20px;
  height: 779px;
  position: relative;
  overflow: hidden;
  width: 848px;
  left: 300px;
  top: 125px;
}
.page1 .Frame1{
  
  position: absolute;
  left: 340px;
  top: 30px;
  overflow: hidden;
  font-size: 24px;
  font-weight: 400px;
  font-family: "SatoshiVariable-Bold", sans-serif;
}
.page1 .frame2{
    width: 376px;
    height: 27px;
    position: absolute;
    left: 44px;
    top: 140px;
    overflow: hidden;
    font-weight:600;
    font-family: "Satoshi Variable";
}
.page1 .frame3{
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 372px;
    height: 58px;
    position: absolute;
    left: 40px;
    top: 160px;
    
}
.page1 .frame3-1{
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 8px;
    top: 50%;
    translate: 0 -50%;
    outline: none; 
}
.page1 .frame4{
    width: 376px;
    height: 27px;
    position: absolute;
    overflow: hidden;
    font-weight:600;
    font-family: "Satoshi Variable";
    left: 40px;
    top: 230px;
   
}
.page1 .frame4-0{
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 372px;
    height: 58px;
    position: absolute;
    left: 40px;
    top: 250px;
}
.page1 .frame4-1{
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 8px;
    top: 50%;
    translate: 0 -50%;
    outline: none; 
}
.page1 .frame5{
    width: 376px;
    height: 27px;
    position: absolute;
    left: 440px;
    overflow: hidden;
    top: 140px;
    font-weight:600;
    font-family: "Satoshi Variable";
}
.page1 .frame5-1{
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 370px;
    height: 58px;
    position: absolute;
    left: 440px;
    top: 160px;
    outline: none;
}

.page1 .frame5-2{
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 8px;
    top: 50%;
    translate: 0 -50%;
    outline: none; 
}
.page1 .frame6{
    width: 376px;
    height: 27px;
    position: absolute;
    left: 440px;
    top: 230px;
    overflow: hidden;
    font-weight:600;
    font-family: "Satoshi Variable";
}

.page1 .frame6-1{
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 370px;
    height: 58px;
    position: absolute;
    left: 440px;
    top: 250px;
    outline: none;
}
.page1 .frame7{
    width: 376px;
    height: 27px;
    position: absolute;
    left: 40px;
    top: 320px;
    overflow: hidden;
    font-weight:600;
    font-family: "Satoshi Variable";
}
.page1 .frame7-1{
    border-radius: 10px;
    border-style: solid;
    border-color: #818181;
    border-width: 1px;
    width: 370px;
    height: 58px;
    position: absolute;
    left: 40px;
    top: 340px;
    outline: none;
}
.page1 .frame7-2{
    border-radius: 10px;
    border-style: solid;
    border-color: #8b8a8a;
    border-width: 1px;
    width: 175px;
    height: 58px;
    position: absolute;
    left: 0px;
    top: 0px;
    outline: none;
}

.page1 .frame8-2{
    color: #212121;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 18px;
    font-weight: 150;
    position: absolute;
    left: 18px;
    top: 50%;
    translate: 0 -50%;
    outline: none;
    right:10px;
}

.page1 .frame7-3{
    border-radius: 10px;
    border-style: solid;
    border-color: #979696;
    border-width: 1px;
    width: 175px;
    height: 58px;
    position: absolute;
    left: 195px;
    top: 0px;
    outline: none;
}
.page1 .frame7-11{
  
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 18px;
    top: 50%;
    translate: 0 -50%;
    outline: none;
    -moz-appearance: textfield;
}
.page1 .frame7-11::-webkit-outer-spin-button,
.page1 .frame7-11::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.page1 .frame8{
    width: 376px;
    height: 27px;
    position: absolute;
    left: 440px;
    top: 320px;
    overflow: hidden;
    font-weight:600;
    font-family: "Satoshi Variable";
}
.page1 .frame8-1{
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 370px;
    height: 58px;
    position: absolute;
    left: 440px;
    top: 340px;
    outline: none;
}
.page1 .frame9{
    width: 376px;
    height: 27px;
    position: absolute;
    left: 40px;
    top: 410px;
    overflow: hidden;  
    font-weight:600;
    font-family: "Satoshi Variable";
}
.page1 .frame9-1{
    border-radius: 10px;
    border-style: solid;
    border-color: #8b8b8b;
    border-width: 1px;
    width: 768px;
    height: 169px;
    position: absolute;
    left: 40px;
    top: 450px;
    outline: none; 

}
.page1 .frame10{
    border-radius: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 232px;
    height: 59px;
    position: absolute;
    left: 40px;
    top: 683px;
    outline: none; 
}
.page1 .frame10-1{
    width: 376px;
    height: 27px;
    position: absolute;
    left: 100px;
    top: 705px;
    overflow: hidden;
   
}
.page1 .frame11{
    border-radius: 10px;
    border-width: 1px;
    width: 207px;
    height: 59px;
    position: absolute;
    left: 580px;
    top: 683px;
    outline: none; 
    background-color: rgba(0, 170, 255, 1);
}
.page1 .frame11-1{
    width: 376px;
    height: 27px;
    position: absolute;
    left: 650px;
    top: 705px;
    overflow: hidden;
    color:rgba(255, 255, 255, 1);
    cursor: pointer;
    
}
.page1 .frame11:hover{
    background:rgb(1, 156, 233) ;
}

.dropdown{
    padding: 15px;
    
}
.selected{
 
 border-radius: 6px;
 max-width: 350px;
 cursor: pointer;
 position: relative;
font-family: "Satoshi Variable";
font-weight: 550;
top: 6px;
}
.input{
 outline: none;
 font-weight: 500;
font-size: 18px;
 font-family: "Satoshi Variable"; 
 cursor: pointer
}
.dropdown .selected::after{
    display: block;
    content: "";
    width: 3px;
    height: 3px;
    border-right: 2px solid rgb(110, 110, 110);
    border-bottom: 2px solid rgb(110, 110, 110);
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: 10px; 
}

.dropdown .item-holders{
border-radius: 6px;
background-color: rgb(255, 255, 255);
border-radius: 5px;
position: absolute;
top: 110%;
width: 370px;
cursor: pointer;
right: 2px;
box-shadow: 4px 4px 4px 0px rgb(234, 231, 231);
font-weight:500;
font-family: "Satoshi Variable";
}
.dropdown .item-holders .dropdown-items{
    padding: 10px 16px;
}
.dropdown .item-holders .dropdown-items:hover{
    background-color: #dedede;
    
}
  
